** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
}

.navegacao {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: -50px;
}

.navegacao > li > a {
    margin: 0 0 0 35px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navegacao > img {
    height: 100px;
}
.botoes {
    display: flex;
}

.botoes2 {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
}

.nav > li {
    margin-right: 25px;
}

.f-s-m-g-i-a:hover {
    border-bottom: 3px solid #7b00ff;
}

.linha > hr {
    background: linear-gradient(270deg, rgba(181, 87, 253, 0) 0%, #B658FF 50.81%, rgba(177, 78, 245, 0) 98.63%);
    height: 6px;
    border: 0;
    margin-top: -10px;
}

.imgs1 > img {
    height: 200px;
    width: 360px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.imgs1 {
    display: flex;
    overflow: scroll;
}
.imgs1::-webkit-scrollbar {
    display: none;
}

h2 {
    color: white;
    margin-left: 70px;
}

h2:hover {
    color: #9029ff;
}