** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    display: flex;
}

.navegacao {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: -20px;
    margin-top: 20px;
}

.navegacao > li > a {
    margin: 0 50px 0 50px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.botoes {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 180px;
}

.nav > li {
    margin-right: 50px;
}

.nav > li > input {
    width: 100px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 0;
    padding: 5px;
}

.filmes:hover {
    border-bottom: 3px solid #7b00ff;
}
.series:hover {
    border-bottom: 3px solid #7b00ff;
}
.midia:hover {
    border-bottom: 3px solid #7b00ff;
}
.favoritos:hover {
    border-bottom: 3px solid #7b00ff;
}

.linha > hr {
    background: linear-gradient(270deg, rgba(181, 87, 253, 0) 0%, #B658FF 50.81%, rgba(177, 78, 245, 0) 98.63%);
    height: 6px;
    border: 0;
    margin-top: -4px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.film {
    display: flex;
    color: white;
    margin-top: 10px;
    margin-left: 90px;
}

.film:hover {
    color: #B658FF;
}

.ser {
    display: flex;
    color: white;
    margin-top: 40px;
    margin-left: 90px;
}

.ser:hover {
    color: #B658FF;
}

.jogos {
    display: flex;
    color: white;
    margin-top: 40px;
    margin-left: 90px;
}

.jogos:hover {
    color: #B658FF;
}

.imgs1 > img {
    height: 250px;
    margin: 3px 8px 20px 8px;
    box-shadow: 2px 2px 10px rgb(192, 124, 255);
}
.imgs1 {
    margin: 20px 90px 20px 90px;
    display: flex;
    overflow: scroll;
}
.imgs1::-webkit-scrollbar {
    display: none;
}
.imgs2 > img {
    height: 250px;
    margin: 3px 8px 20px 8px;
    box-shadow: 2px 2px 10px rgb(192, 124, 255);
}
.imgs2 {
    margin: 20px 90px 20px 90px;
    display: flex;
    overflow: scroll;
}
.imgs2::-webkit-scrollbar {
    display: none;
}
.imgs3 > img {
    height: 250px;
    margin: 3px 8px 20px 8px;
    box-shadow: 2px 2px 10px rgb(192, 124, 255);
}
.imgs3 {
    margin: 20px 90px 20px 90px;
    display: flex;
    overflow: scroll;
}

.imgs3::-webkit-scrollbar {
    display: none;
}

.rodape {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}
.p1 {
    margin-right: 5px;
    font-size: 20px;
}

.p3 {
    font-size: 20px;
}

.gif1:hover {
    width: 350px;
    height: 255px;
    content: url(../img/gif1.gif);
    transform: scale(1.1);
    transition: transform 1s ease;
}
.gif2:hover {
    width: 350px;
    height: 255px;
    content: url(../img/gif2.gif);
    transform: scale(1.1);
    transition: transform 1s ease;
}
.gif4:hover {
    width: 350px;
    height: 255px;
    content: url(../img/gif4.gif);
    transform: scale(1.1);
    transition: transform 1s ease;
}
.gif5:hover {
    width: 350px;
    height: 255px;
    content: url(../img/gif5.gif);
    transform: scale(1.1);
    transition: transform 1s ease;
}
.gif6:hover {
    width: 350px;
    height: 255px;
    content: url(../img/gif6.gif);
    transform: scale(1.1);
    transition: transform 1s ease;
}
.gif7:hover {
    width: 320px;
    height: 250px;
    content: url(../img/gif7.gif);
    transform: scale(1.1);
    transition: transform 1s ease;
}
.gif8:hover {
    width: 320px;
    height: 250px;
    content: url(../img/gif8.gif);
    transform: scale(1.1);
    transition: transform 1s ease;
}
.gif9:hover {
    width: 350px;
    height: 255px;
    content: url(../img/gif9.gif);
    transform: scale(1.1);
    transition: transform 1s ease;
}

@media (max-width:500px) {
    .cabecalho-index  {
        flex-direction: column;
    }
    .nav  {
        flex-direction: column;
    }
    .navegacao  {
        flex-direction: column;
    }
    .imgs1 {
        min-width: 100%;
        flex-wrap: wrap;
    }
    .imgs2 {
        min-width: 100%;
        flex-wrap: wrap;
    }
    .imgs3 {
        min-width: 100%;
        flex-wrap: wrap;
    }
}