* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estlizando a página de login */
.body1 {
    background-image: url(/img/img-de-fundo.png);
    background-size: 100%;
}

.corpo {
    width: 400px;
    height: 520px;
    background: rgba(61, 0, 121, 0.59);
    box-shadow: 4px 4px 8px rgb(107, 0, 183);
    border-radius: 10px;
    margin: 0 auto;
}

.corpo > h1 {
    text-align: center;
    padding: 40px;
    color: white;
}

.email {
   text-align: center;
}

.email > input {
    background: rgba(247, 247, 247, 0.792);
    width: 280px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    padding-left: 15px;
}

.senha {
    text-align: center;
    margin-top: 30px;
}

.senha > input {
    background: rgba(247, 247, 247, 0.792);
    width: 280px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    padding-left: 15px;
}

.esqueceu-a-senha  {
    text-align: right;
    margin-top: 10px;
    margin-right: 60px;
    color: white;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: white;
} 

.entrar {
    background-color: rgba(0, 0, 0, 0.419);
    text-align: center;
    border-radius: 8px;
    margin: 70px 60px 0px 60px;
    font-size: 25px;
    padding: 10px;
}

.entrar:hover {
   background-color: black;
}

.saiba-mais {
    font-size: 15px;
    color: white;
    margin: 10px 60px 0px 60px;
    text-align: center;
}

p > a {
    color: blue;
}

/* Estlizando a página de cadastro */
.nome {
    text-align: center;
    margin-bottom: 15px;
}

.nome > input {
    background: rgba(247, 247, 247, 0.792);
    width: 280px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    padding-left: 15px;
}
.email2 {
    text-align: center;
    margin-bottom: 15px;
}

.email2 > input {
    background: rgba(247, 247, 247, 0.792);
    width: 280px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    padding-left: 10px;
}
.senha2 {
    text-align: center;
    margin-bottom: 15px;
}

.senha2 > input {
    background: rgba(247, 247, 247, 0.792);
    width: 280px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    padding-left: 10px;
}

/* Estlizando a página de cadastro de mídia */
.titulo {
    text-align: center;
    margin-bottom: 30px;
}

.titulo > input {
    background: rgba(247, 247, 247, 0.792);
    width: 280px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    padding-left: 15px;
}

.categoria {
    text-align: center;
}

.categoria > input {
    background: rgba(247, 247, 247, 0.792);
    width: 280px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    padding-left: 15px;
}

.p {
    color: white;
    margin: 60px 200px 0 60px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.419);
    padding: 8px;
}

.p:hover {
    background-color: black;
}

/* Estilizando página inicial */
.p-inicial {
    padding: 0;  
    background: rgb(77,0,147);
    background: linear-gradient(20deg, rgba(77,0,147,1) 0%, rgba(2,0,4,1) 100%);
    
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.menu > li {
    align-items: center;
    list-style: none;
}

.menu > li > a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 26px;
}

/* Estilizando botões de navegação*/
.idioma {
    background: linear-gradient(247.54deg, #001431 0.63%, #6900AA 100%);
    border-radius: 5px;
    padding: 6px 15px;
}

.idioma:hover {
    background: #8b2dea;
}

.conta {
    background: linear-gradient(247.54deg, #001431 0.63%, #6900AA 100%);
    border-radius: 5px;
    padding: 6px 15px;
}

.conta:hover {
    background: #8b2dea;
}

.ent {
    background: linear-gradient(247.54deg, #001431 0.63%, #6900AA 100%);
    border-radius: 5px;
    padding: 6px 15px;
}

.ent:hover {
    background: #8b2dea;
}

.cabecalho-inicial {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-inicial > img {
   padding-left: 30px;
}

.botoes {
    margin-right: 30px;
    margin-left: 30px;
    width: 50%;
    height: 100px;
}

.text > h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    margin: 100px 250px 0 250px;
}

.text > h2 {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 25px;
}

.banners > hr {
    border: none;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(181, 87, 253, 0) 0%, #B658FF 50.81%, rgba(177, 78, 245, 0) 98.63%);
    height: 6px;
    margin-top: 230px;
    margin-bottom: 40px;
}

.banners {
    background: linear-gradient(208.9deg, #030321 24.17%, #4A0095 86.12%);
}

.t1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-right: 100px;
    margin-left: 100px;
}
.t2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}
.t3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-right: 100px;
    margin-left: 100px;
}

.text1 > p {
    font-size: 35px;
    text-align: right;
}
.text2 > p {
    font-size: 35px;
    text-align: left;
}
.text3 > p {
    font-size: 35px;
    text-align: right;
}

.text1 > h3 {
    font-size: 55px;
    text-align: right;
}
.text2 > h3 {
    font-size: 55px;
    text-align: left;
}
.text3 > h3 {
    font-size: 55px;
    text-align: right;
}

.imagem {
    margin: 25px;
}

.linha > hr {
    background: linear-gradient(270deg, rgba(181, 87, 253, 0) 0%, #B658FF 50.81%, rgba(177, 78, 245, 0) 98.63%);
    height: 6px;
    border: 0;
    margin-top: 10px;
}

/* Estlizando botão "voltar" */
.voltar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.voltar > a > p {
    font-size: 25px;
    color: white;
    margin-right: 40px;
}

